body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}
.hero1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


header {
    text-align: center;
    background: blue;
    color: white;
    padding: 18px 20px;
}

header nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}
.fixed-logo {
    position: fixed;
    top: 10px;        
    left: 10px;       
    width: 110px;     
    z-index: 1000;    
}



.hero {
    text-align: center;
    padding: 60px 20px;
    background: #e5f1ff;
}

.hero h2 {
    margin: 0;
}
.content {
    text-align: left;
    background: greenyellow;
}

.content2{
    text-align: center;
    background-color: pink;
}
.culture {
    background-color: aquamarine;
}

form input, form textarea {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
}

button {
    background: #004aad;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
}

button:hover {
    background: #003080;
}

.next {
    text-align: center;

}
.useful-link {
    padding:10px;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    display: grid;
    margin: auto;
    gap:80px;
    
}
.link-services h3 {
    text-align:center;
}
ul {
    list-style-position: inside;
}
.cultures {
    background-color: aqua;
}
.terms {
    background-color: #004aad;
}


footer {
    background: #222;
    color: #ddd;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}


